.container {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    width: 100%;
    height: 100%;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.item-a {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

.grid {
    border: 5px solid rgb(111, 41, 97);
    display: grid;
    grid-template-columns: 100px 200px 100px auto;
    width: 500px;
}

.grid>* {
    background-color: rgba(111, 41, 97, 0.4);
    border-radius: 5px;
    padding: 10px;
}

#documentation {
    display: none;
}